* { padding:0; margin:0; outline:0; }
body {
	font-family: 'Open Sans Condensed', sans-serif, tahoma, sans-serif, Verdana, Arial;
	font-size:16px;
	line-height:20px;
	color:#666;
	background:#eeefef;
}

.left { float:left; display:inline; }
.right { float:right; display:inline; }

a { color: #0080c0; text-decoration: underline; cursor:pointer; }
a:hover { color:#000; }

.orange { color:#d96a02; }
.red { color:#be4856; }

.shell { width:980px; margin:0 auto; }


h1, h2, h3, h4, h5 { font-family:  'Open Sans Condensed', sans-serif, ''Trebuchet MS'', Arial; padding-bottom:8px; }
h1 { font-size:20px; line-height:22px; }
h2 { font-size:18px; line-height:21px; }
h3 { font-size:16px; line-height:20px; }
h4 { font-size:15px; line-height:19px; }
h5 { font-size:14px; line-height:18px; }
h6 { font-size:12px; line-height:16px; padding-bottom:5px; }

#header { background:#364f86; height:91px; }
#header h1{ float:left; white-space:nowrap; padding-top:8px; font-size:30px; line-height:35px; color:#fff;}
#header a{ color:#fff }
#header a:hover{ color:#a1adc7; }

#header #head { height:50px; overflow:hidden; }
#header .right { color:#fff; white-space:nowrap; font-size:11px; }
#header .right p{ padding-top:12px;}
#header .right a strong{ text-decoration: underline; }


#navigation { height:45px; }
#navigation ul{ list-style-type: none; padding-top:8px; font-size:14px; }
#navigation ul li{ float:left; display:inline; margin-right:5px;}
#navigation ul li a,
#navigation ul li a span { float:left; display:inline; height:31px; padding:0 0 0 8px; background:url(images/nav.gif) no-repeat 0 0; }
#navigation ul li a span { padding:0 8px 0 0; background-position:right 0; }
#navigation ul li a { color: #E9DFC6; line-height:29px;}
#navigation ul li a.active { font-weight: bold;}

#navigation ul li a:hover,
#navigation ul li a.active { background-position:0 bottom; color:#887e42; }

#navigation ul li a:hover span,
#navigation ul li a.active span{ background-position:right bottom; }





#help-nav { font-size:10px; line-height:15px; height:15px; padding-bottom:20px;}

#content { padding:10px 0 20px 0;}
#content p{ padding-bottom:15px;}
#content ol,
#content ul{ padding: 0 0 15px 25px;}
#content li{ padding-bottom:3px; }
#content a { text-decoration: underline;}
#content a:hover { text-decoration: none;}

#footer { position:absolute; bottom:0; width:100%; text-align: center; font-size:12px; padding:10px 0 0 0; color:#666; background:url(images/footer.gif) repeat-x 0 0; height:40px; }
#footer a{ color:#333; }

.message { width:630px; height:50px; background-repeat:no-repeat; background-position:0 0; text-align: center; margin:0 auto 15px auto; font-size:13px;}
.message p{ padding-top:14px;}
.error-message { background-image:url(images/error.gif); color:#973729; }
.thank-message { background-image:url(images/thank.gif); color:#3d8b26; }


nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
        
        nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 10px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

        nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; padding: 10px 45px;
		color: #757575; text-decoration: none;
	}
        
        nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative; top: 100%;
	}
		nav ul ul li a {
			padding: 8px 25px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #4b545f;
			}
                        
                        nav ul ul ul {
	position: absolute; top:0;
}


fieldset#login {
background: url(images/login_bg.png) no-repeat top left;
margin: 0px auto;
padding: 5px 5px 5px 5px;
width: 276px;
height: 179px;
font-size: 1.4em;
border: none;
position: relative;
left: 15px;
}
#login h4 {
font-size: 18px;
font-weight: normal;
font-family: Cambria, Georgia, "Times New Roman", Times, serif;
width: 246px;
height: 31px;
padding: 4px 0px 0px 30px;
margin: 0px;
text-align: left;
}
#login form {
height: 95px;
width: 276px;
padding: 10px 0px 0px 0px;
margin: 0px;
}
#login p {
width: 276px;
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
}
#login form p label {
text-align: left;
margin-left: 0.5em;
float: left;
font-size: 14px;
}
#login form p.check {
padding-left: 77px;
width: 199px;
height: 23px;
}
#login #remlabel {
float: left;
font-size: 12px;
position: relative;
left: -3px;
}
#login #remember {
float: left;
width: 14px;
height: 14px;
margin: 0px;
padding: 0px;
position: relative;
top: 3px;
}
#login #submit {
background: url(images/login.png) no-repeat top left;
width: 77px;
height: 27px;
cursor: pointer;
border: none;
float: right;
}
#login #username, #login #password {
background: url(images/input_bg.png) no-repeat top left;
border: 1px solid #d0d0d0;
width: 192px;
height: 19px;
padding: 2px;
color: #222222;
font-size: 14px;
float: right;
margin-bottom: 10px;
}
#login p.member {
text-align: left;
width: 270px;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
margin: 2px 2px 0px 2px;
padding: 2px;
line-height: 18px;
}

.clear {
clear:both;
}

.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.clearfix {display:inline-block;}

/* Hides from IE-mac \*/

* html .clearfix { height:1%; }

.clearfix {display:block;}
/* End hide from IE-mac */


#member{
	width:352px; margin:0; background-color:#FFFFFF; color:#000000; padding:0; font-size:0;
	}
#member p{
	background:url(images/form_top.gif) no-repeat left top #FDFDFE; color:#313131; height:14px; width:352px; display:block;
	}
#member p.buttom{
	background:url(images/form_buttom.gif) no-repeat left bottom #FDFDFE; color:#313131; height:14px; width:352px; display:block;
	}
#member form{
	width:323px; border-left:#C5B692 1px solid; border-right:#C5B692 1px solid; padding:0px 0 0 27px; font-size:0; height:84px;
	margin:0;
	}
#member form h2{
	background:url(images/member_icon.gif) no-repeat 0 4px #FDFDFE; font:normal 18px/16px Arial, Helvetica, sans-serif; 
	color:#704F01; padding:0 0 0 19px; width:150px; display:block; height:22px; margin:0; text-indent:0px;
	}
#member form label{
	font-size:10px; line-height:14px; color:#313131; text-transform:uppercase; background-color:#FDFDFE; display:block; 
	float:left; padding:0 96px 0 0
	}
#member form label.re{
	font-size:10px; line-height:14px; color:#313131; text-transform:uppercase; background-color:#FDFDFE; display:block; 
	float:left; padding:2px 0 0 0; margin:5px 0 0 0;
	}
#member form input{
	background:url(images/input_box.gif) no-repeat 0 0 #E9DFC6; color:#000000; border:none; float:left; height:22px; 
	padding:0 1px 0 1px; display:block; width:140px; margin:4px 16px 0 0;
	}
#member form input.checkbox{
	 width:10px; height:10px; margin:9px 5px 0 0; padding:0 0 0 0; float:left;
	}
#member form input.login{
	background:url(images/login_bu.gif) no-repeat 0 0; float:left; margin:7px 0 0 107px; width:37px; height:10px;
	cursor:pointer; border:none; font-size:0; 
	}